<h1> Listing all Requests </h1>

<%= link_to "Create a new request", new_support_request_path, class: "btn btn-info" %>
<br>
<%= will_paginate @requests, renderer: BootstrapPagination::Rails %>
<br>
<%= form_tag(support_requests_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search requests" %>
  <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
<% end %>
<br>

<% @requests.each do |r| %>
<div class= "well">
  <% if r.action? %>
    <h4>DONE</h4>
  <% end %>
  <h4>Name: <%= r.name %> 
  Email:<a> <%= mail_to r.email %> </a> </h4>
  <b>Department:</b> <%= r.department %></br> 
  <b>Message: </b> <%= r.message %> </br>
  Created <%= time_ago_in_words(r.created_at) %> ago  
  </br></br>
  <% if r.action? %>
  <%= button_to "Mark as incomplete", support_request_path(r, {support_request: {action: false}}), method: :patch %>
  <% else %>

  <%= button_to "Mark as complete", support_request_path(r, {support_request: {action: true}}), method: :patch %>
  <% end %>
  <br>
  <%= link_to "Edit", edit_support_request_path(r), method: :get %> 
  <%= link_to "Delete", r, method: :delete, data: {confirm: "are u sure?"} %>
</div>
  <% end %>

